.container {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  color: var(--signup-right-font-color);
  display: flex;
  flex-direction: column;
  background-color: var(--signup-right-bg);
  box-shadow: var(--signup-right-shadow);
  padding: 10px 40px;
  justify-content: flex-start;
  row-gap: 20px;
}
.container header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.title {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.container > form > div, .form {
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container a {
  font-size: 10px;
  color: var(--signup-right-link-color);
}
.container footer > div:first-child {
  text-align: center;
  line-height: 32px;
  font-size: 12px;
}
.oauth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 15px;
}
.oauth a {
  color: var(--signup-right-oauth-font-color);
}
@media screen and (max-width: 576px) {
  .container {
    height: 100vh;
    max-width: 576px;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}