.container {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0px 30px;
  background-color: var(--signin-left-bg);
  box-shadow: var(--signin-left-shadow);
  padding-bottom: 50px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
}
.header h2 {
  padding-left: 10px;
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oauth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 20px;
}
.oauth p {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
}
@media screen and (max-width: 900px) {
  .main {
    justify-content: space-evenly;
  }
}