.layout {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  justify-content: var(--card-flex-position);
  align-items: center;
  background-color: var(--card-background-color);
  margin: 20px;
}