.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  float: right;
  top: 2.5%;
  right: 20px;
  z-index: 11;
}
.container div {
  margin-left: 20px;
}
@media screen and (min-width: 570px) and (max-width: 900px) {
  .container {
    right: 22%;
  }
}